server:
  port: 8080

spring:
  application:
    name: api-gateway
  main:
    web-application-type: reactive
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      routes:
        - id: auth-service
          uri: lb://auth-service
          predicates:
            - Path=/api/auth/**
          filters:
            - RewritePath=/api/auth/(?<segment>.*), /api/auth/${segment}
            
        - id: ride-service
          uri: lb://ride-service
          predicates:
            - Path=/api/rides/**
          filters:
            - RewritePath=/api/rides/(?<segment>.*), /api/rides/${segment}
            
        - id: user-service
          uri: lb://user-service
          predicates:
            - Path=/api/users/**
          filters:
            - RewritePath=/api/users/(?<segment>.*), /api/v1/users/${segment}
            
        - id: driver-service
          uri: lb://driver-service
          predicates:
            - Path=/api/drivers/**
          filters:
            - RewritePath=/api/drivers/(?<segment>.*), /drivers/${segment}
            
        - id: pricing-service
          uri: lb://pricing-service
          predicates:
            - Path=/pricing/**
            
        - id: payment-service
          uri: lb://payment-service
          predicates:
            - Path=/payments/**
            
        - id: notification-service
          uri: lb://notification-service
          predicates:
            - Path=/notifications/**

eureka:
  client:
    service-url:
      defaultZone: http://discovery-server:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true