server:
  port: 8080

spring:
  application:
    name: api-gateway
  main:
    web-application-type: reactive
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      routes:
        - id: auth-service
          uri: http://auth-service:8082
          predicates:
            - Path=/auth/**
            
        - id: ride-service
          uri: lb://RIDE-SERVICE
          predicates:
            - Path=/rides/**
            
        - id: user-service
          uri: http://user-service:8084
          predicates:
            - Path=/users/**
          filters:
            - AuthenticationFilter  
            
        - id: driver-service
          uri: lb://DRIVER-SERVICE
          predicates:
            - Path=/drivers/**
            
        - id: pricing-service
          uri: lb://PRICING-SERVICE
          predicates:
            - Path=/pricing/**
            
        - id: payment-service
          uri: lb://PAYMENT-SERVICE
          predicates:
            - Path=/payments/**
            
        - id: notification-service
          uri: lb://NOTIFICATION-SERVICE
          predicates:
            - Path=/notifications/**

eureka:
  client:
    service-url:
      defaultZone: http://discovery-server:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true