server:
  port: 8080

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      routes:
        - id: user-service
          uri: lb://user-service
          predicates:
            - Path=/users/**
        - id: auth-service
          uri: lb://auth-service
          predicates:
            - Path=/auth/** 
        - id: driver-service
          uri: lb://driver-service
          predicates:
            - Path=/drivers/**
        - id: ride-service
          uri: lb://ride-service
          predicates:
            - Path=/rides/**
        - id: pricing-service
          uri: lb://pricing-service
          predicates:
            - Path=/pricing/**
        - id: payment-service
          uri: lb://payment-service
          predicates:
            - Path=/payments/**
        - id: notification-service
          uri: lb://notification-service
          predicates:
            - Path=/notifications/**

eureka:
  client:
    service-url:
      defaultZone: http://discovery-server:8761/eureka/
