server:
  port: 8888

spring:
  application:
    name: config-server
  cloud:
    config:
      server:
        git:
          uri: https://github.com/Manojkushwah-dev/ride-sharing-platform
          search-paths: 'backend/config-repo'
          clone-on-start: true
          default-label: main

management:
  endpoints:
    web:
      exposure:
        include: "*"